#mostrar2 h3, h4{
    text-align: center;

}



#mostrar2 .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

#mostrar2 article{
    margin: 15px;
}

#mostrar2 img{
    width: 100%;
    max-width: 280px;
}

#mostrar1 h3, h4{
    text-align: center;

}



#mostrar1 .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

#mostrar1 article{
    margin: 15px;
}

#mostrar1 img{
    width: 100%;
    max-width: 280px;
}